

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}


.header {
    background-color: #eabb76;
    box-shadow: 5px 5px 5px #e4a74c;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin: -10px;
    padding: 10px;
}

.image-container {
    flex: 1;
    text-align: right;
}

.image-container img {
    width: 800px;
    height: 800px;
    justify-content: right;
}

.text-container {
    flex: 1;
    justify-content: left;
    font-size: 55px;
    font-weight: bold;
    font-family: "Merienda", cursive;
    text-shadow: 5px 5px 5px #251d14;
    margin-top: 150PX;
}

.order-form {
    background-color: #f5deb8;
    padding: 90px;
    box-shadow: 5px 5px 5px #e9cb9b;
    border-radius: 36px;
    margin-left: -20px;
    margin-right: -20px;
}

#OrderForm {
    display: flex;
    /* gap: 40px; */
}

.customer-info {
    flex: 1;
    text-align: center;
    padding: auto;
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 3px solid #443627;
    border-radius: 36px;
}

h3 {
    font-family: "Merienda", cursive;
    color: #443627;
    font-size: 35px;
}

.font {
    font-size: 30px;
}

.font1 {
    font-size: 45px;
}

.gap {
    margin-bottom: 10px;
    color: #524130;
}


.input-name {
    position: relative;
    width: 300px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.input-name .icon {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
    top: 20%;
    left: 10px;
    right: auto;
}

.input-name input {
    width: 100%;
    padding-left: 40px;
    height: 40px;
    box-sizing: border-box;
    align-items: center;
}

.input-number {
    position: relative;
    width: 300px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.input-number .icon {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
    top: 20%;
    left: 10px;
    right: auto;
}

.input-number input {
    width: 100%;
    padding-left: 45px;
    padding-top: 0px;
    padding-bottom: 0;
    height: 40px;
    box-sizing: border-box;
    align-items: center;
}

.input-governorate {
    position: relative;
    width: 300px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.input-governorate .icon {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
    top: 20%;
    left: 10px;
    right: auto;
}

.input-governorate input {
    width: 100%;
    padding-left: 45px;
    padding-top: 0px;
    padding-bottom: 0;
    height: 40px;
    box-sizing: border-box;
    align-items: center;
}

.input-address {
    position: relative;
    width: 300px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.input-address .icon {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
    top: 15%;
    left: 10px;
    right: auto;
}

.input-address input {
    width: 100%;
    padding-left: 45px;
    padding-top: 0px;
    padding-bottom: 0;
    height: 40px;
    box-sizing: border-box;
    align-items: center;
}

.payment {
    display: flex;
    flex-direction: column;
}

.payment-info {
    flex: 1;
    padding: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.paymethod {
    font-family: "Merienda", cursive;
    color: #443627;
    font-size: 35px;
    display: block;
    font-weight: bold;
}

.payment-method {
    padding-top: 20px;
}

#visaForm {
    display: none;
}

.input-cardnumber {
    position: relative;
    width: 300px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.input-cardnumber .icon {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
    top: 20%;
    left: 10px;
    right: auto;
}

.input-cardnumber input {
    width: 100%;
    padding-left: 45px;
    padding-top: 0px;
    padding-bottom: 0;
    height: 40px;
    box-sizing: border-box;
    align-items: center;
}

.input-date {
    position: relative;
    width: 300px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.input-date .icon {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
    top: 20%;
    left: 10px;
    right: auto;
}

.input-date input {
    width: 100%;
    padding-left: 45px;
    padding-top: 0px;
    padding-bottom: 0;
    height: 40px;
    box-sizing: border-box;
    align-items: center;
}

.input-cvv {
    position: relative;
    width: 300px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.input-cvv .icon {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
    top: 20%;
    left: 10px;
    right: auto;
}

.input-cvv input {
    width: 100%;
    padding-left: 45px;
    padding-top: 0px;
    padding-bottom: 0;
    height: 40px;
    box-sizing: border-box;
    align-items: center;
}

.input-cardname {
    position: relative;
    width: 300px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.input-cardname .icon {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
    top: 20%;
    left: 10px;
    right: auto;
}

.input-cardname input {
    width: 100%;
    padding-left: 45px;
    padding-top: 0px;
    padding-bottom: 0;
    height: 40px;
    box-sizing: border-box;
    align-items: center;
}

.order-card {
    margin: 12px;
}

#orderlist {
    font-family: 'Oswald';
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    direction: ltr;

    /* color: red */
    margin-bottom: 30px;
    margin-top: 8px;
    border: 2px solid #443627;
    box-shadow: 0 4px 8px #251d14;
    /* padding-left: 50px;
    padding-top: 15px; */
    width: 500px;
    height: 200px;
    border-radius: 36px;
    font-family: "Merienda", cursive;
    background-color: #f3ede4;
}

.order-summary {

    display: flex;
    background-color: #f7e7ce;
    border-radius: 36px;
    padding-top: 0;
    margin-top: -30px;
    box-shadow: 5px 5px 5px #f3ddb9;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.notes {
    text-align: center;
    color: #443627;
}

.input-note textarea {
    width: 400px;
    height: 150px;
    border-radius: 36px;
    font-family: "Merienda", cursive;
    background-color: #f3ede4;
    border: 2px solid #443627;
    resize: none;
    padding-left: 60px;
    padding-top: 15px;
    box-shadow: 0 4px 8px #251d14;

}

.input-note {
    position: relative;
    width: 300px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.input-note .icon {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
    top: 10%;
    left: 20px;
    right: auto;
}

.input-note input {
    width: 100%;
    padding-left: 45px;
    padding-top: 0px;
    padding-bottom: 0;
    height: 40px;
    box-sizing: border-box;
    align-items: center;
}

.buttons {
    display: flex;
    background-color: #f7e7ce;
}

#confirm {
    font-family: "Merienda", cursive;
    font-size: 17px;
    color: #443627;
    display: block;
    width: 140px;
    height: 60px;
    margin: 32px;

    background-color: #f5deb8;
    border-radius: 36px;
    border: 3px solid #443627;
    transition: 0.3s ease-out;
}

#confirm:hover {
    background-color: #f5e5cc;
    transform: scale(1.07);
    cursor: pointer;

}

#reset {
    font-family: "Merienda", cursive;
    font-size: 17px;
    color: #443627;
    display: block;
    width: 140px;
    height: 60px;
    background-color: #f5deb8;
    border-radius: 36px;
    border: 3px solid #443627;
    margin: 32px;
    transition: 0.3s ease-out;
}

#reset:hover {
    background-color: #f5e5cc;
    transform: scale(1.07);
    cursor: pointer;
}