:root {
    --primary-color: #443627;
    --secondary-color: #e4a444;
    /* --accent-color: #DAF7A6; */
    --background-color: #F2F6D0;
    --text-color: #EFDCAB;
    --text-hover-color: rgb(250, 235, 104);
    --main-padding: 300px;
    --main-radius: 36px;
    --main-button-color: rgb(232, 50, 50);
}

body {
    font-family: "Oswald", sans-serif;
    margin: 0px;
    background-color: var(--background-color);
    padding: 0px;
}

.nav-container {
    margin: 0px;
}

.navbar {

    height: 103px;
    margin-bottom: 0px;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: space-between;
    display: flex;
    transition: transform 0.3s, box-shadow 0.3s;
}

.navbar:hover {
    transform: scale(1.0);
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); */
}

.logo {
    display: flex;
    margin-left: 16%;
}

.logo-img {
    width: 115px;
    height: 115px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.logo-img:hover {
    transform: scale(1.05);

}


.nav-links {
    margin-right: 16%;
    font-weight: 200;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li a {
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: var(--background-color);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-links li a:hover {
    color: var(--text-hover-color);
    transform: scale(1.1);
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05); */
}

.nav-links .home-sections {
    position: absolute;
    top: 100%;
    left: 0;
    width: 40px;
    height: 100px;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: top;
    background-color: red;
    visibility: visible;
    z-index: 2;
    transition: display 0.9s ease-out;
}

/* ============================== Section Divider ==========================  */

.main-section {
    margin: 0px;
}

.main-section .main-blanket {

    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    margin: 0px;
    width: 100%;
    height: 800px;
    background-color: var(--secondary-color);
    transition: box-shadow 0.3s ease;

}



.main-section .main-blanket p {


    /* Animation properties */
    opacity: 0;
    transform: translateY(20px);
    animation: intro 0.6s ease-out forwards;
    animation-delay: 0.4s;
    filter: blur(5px);


    text-shadow: 2px 2px 0.5px black;
    font-family: "Merienda", cursive;
    color: var(--primary-color);
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;

    text-align: right;
    position: relative;
    top: 0px;
    right: -60px;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}

@keyframes intro {
    to {
        opacity: 1;
        transform: translate(0px);
        filter: blur(0px);
    }

}

.main-section .main-blanket img {
    /* Animation properties */
    opacity: 0;
    transform: translateX(60px);
    animation: intro 0.6s ease-out forwards;
    filter: blur(5px);

    width: 750px;
    height: 750px;
    z-index: 1;
}


/* ============================== Section Divider ==========================  */
.why-us {
    margin: 0px;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

.section-title {
    color: var(--primary-color);
    margin: 0px;
    font-weight: bolder;
    display: inline-block;
    font-size: 64px;
    text-shadow: 2px 2px 0px var(--secondary-color);
}

.cards-horizontal-container {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.cards-vertical-container {
    gap: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why-us .card1 {
    position: relative;
    background-image: url('/imgs/Variety.png');
    overflow: hidden;
    width: 700px;
    height: 800px;
    border-radius: var(--main-radius);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.why-us .card2 {
    position: relative;
    background-image: url('/imgs/taste.jpeg');
    overflow: hidden;
    width: 500px;
    height: 390px;
    border-radius: var(--main-radius);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.why-us .card3 {
    position: relative;
    background-image: url('/imgs/quality.jpeg');
    overflow: hidden;
    width: 500px;
    height: 390px;
    border-radius: var(--main-radius);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text {
    font-family: "Oswald", sans-serif;
    color: var(--background-color);
    position: absolute;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 1);
    margin: 0px;
}


.variety-text {
    font-size: 45px;
    font-weight: bold;
    bottom: 115px;
    left: 25px;
}

.choices-word {
    font-size: 100px;
    font-weight: bolder;
    bottom: 0px;
    left: 10px;
}

.taste-text {
    font-size: 45px;
    font-weight: bold;
    top: 10px;
    left: 10px;
}

.bite-word {
    font-size: 70px;
    font-weight: bolder;
    top: 50px;
    left: 10px;
}

.quality-text {
    font-size: 36px;
    font-weight: bolder;
}

.fresh {
    top: 10px;
    left: 10px;
}

.tasty {
    top: 150px;
    left: 200px;
}

.affordable {
    bottom: 10px;
    right: 10px;
}



/* .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card1 .img-1 {
    border-radius: var(--main-radius);
    overflow: hidden;
}

.card2 {
    grid-column: 3;
    grid-row: 1;
}

.card2 .img-2 {
    border-radius: var(--main-radius);
}

.card3 {
    grid-column: 3;
    grid-row: 2;

} */

/* .card3 .img-3 {
    border-radius: var(--main-radius);
} */

/* ============================== Section Divider ==========================  */
.best-selling {
    margin-top: 64px;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

.bs-section-title {
    margin-bottom: auto;
    color: var(--primary-color);
    margin: 0px;
    font-weight: bolder;
    display: inline-block;
    font-size: 64px;
    text-shadow: 2px 2px 0px var(--secondary-color);
}

.bs-cards-container {
    display: flex;
    justify-content: center;
    align-items: top;
}


.bscard:hover {

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.bscard {

    opacity: 0;
    transform: translateY(50px);
    margin: 32px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 16px;
    /* background-color: var(---color); */
    width: 400px;
    height: 600px;
    padding: 12px;
    border-radius: var(--main-radius);
    transition: box-shadow 0.3s ease, transform 0.6s ease-out, opacity 0.6s ease-out;
}


@keyframes getAlive {

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bscard.show {
    animation: getAlive 0.6s ease-out forwards;
}



.bscard img {
    position: relative;
    width: 420px;
    filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.4));
}

.bscard.card1 img {
    margin-top: -100px;
    width: 420px;
}

.bscard.card2 img {
    margin-top: -100px;
    width: 420px;
}

.bscard.card3 img {
    margin-top: -50px;
    width: 420px;
}

.bscard.card1 {
    animation-delay: 0.2s;
}

.bscard.card2 {
    animation-delay: 0.6s;
}

.bscard.card3 {
    animation-delay: 1.0s;
}




.bscard .card-title {
    font-weight: 900;
    color: var(--primary-color);
    font-family: "Merienda", cursive;
    font-size: 32px;
}

.bscard .card-description {

    color: var(--primary-color);
    font-size: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -60px;

}

.bscard button {
    background-color: var(--main-button-color);
    color: white;
    font-weight: 400;
    font-size: 36px;
    font-family: "Oswald";
    padding: 3px 7px;
    margin-top: auto;
    margin-bottom: 7px;
    width: 210px;
    height: 70px;
    border: none;
    overflow: hidden;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: transform 0.6s ease-out;
}

.bscard button::before {
    content: "";
    height: 0%;
    width: 100%;
    background-color: rgb(117, 1, 41);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: height 0.2s ease-out;
    overflow: hidden;

}

.bscard button:hover:before {
    content: "";
    width: 100%;
    height: 100%;
    overflow: hidden;

}


.bscard button:hover {
    transform: scale(1.03);
}

/* ============================== Section Divider ==========================  */