:root {
    --primary-color: #443627;
    --secondary-color: #e4a444;
    /* --accent-color: #DAF7A6; */
    --background-color: #F2F6D0;
    --text-color: #EFDCAB;
    --text-hover-color: rgb(250, 235, 104);
    --main-padding: 300px;
    --main-radius: 36px;
    --main-button-color: rgb(232, 50, 50);
}

body {
    font-family: "Oswald", sans-serif;
    margin: 0px;
    background-color: var(--background-color);
    padding: 0px;
}

.nav-container {
    margin: 0px;
}

.navbar {

    height: 103px;
    margin-bottom: 0px;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: space-between;
    display: flex;
    transition: transform 0.3s, box-shadow 0.3s;
}

.navbar:hover {
    transform: scale(1.0);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.logo {
    display: flex;
    margin-left: 16%;
}

.logo-img {
    width: 115px;
    height: 115px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.logo-img:hover {
    transform: scale(1.05);

}


.nav-links {
    margin-right: 16%;
    font-weight: 200;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li a {
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: var(--background-color);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-links li a:hover {
    color: var(--text-hover-color);
    transform: scale(1.1);
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05); */
}


/* ============================== Section Divider ==========================  */

.main-section {
    margin: 0px;
}

.main-section .main-blanket {

    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    margin: 0px;
    width: 100%;
    height: 800px;
    background-color: var(--secondary-color);
    transition: box-shadow 0.3s ease;

}

.main-blanket:hover {
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); */
}


.main-section .main-blanket p {


    /* Animation properties */
    opacity: 0;
    transform: translateY(20px);
    animation: intro 0.6s ease-out forwards;
    animation-delay: 0.4s;
    filter: blur(5px);


    text-shadow: 2px 2px 0.5px black;
    font-family: "Merienda", cursive;
    color: var(--primary-color);
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;

    text-align: right;
    position: relative;
    top: 0px;
    right: -60px;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}

@keyframes intro {
    to {
        opacity: 1;
        transform: translate(0px);
        filter: blur(0px);
    }

}

.main-section .main-blanket img {
    /* Animation properties */
    opacity: 0;
    transform: translateX(60px);
    animation: intro 0.6s ease-out forwards;
    filter: blur(5px);

    width: 750px;
    height: 750px;
    z-index: 1;
}


/* ============================== Section Divider ==========================  */
.why-us {
    margin: 0px;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

.section-title {
    color: var(--primary-color);
    margin: 0px;
    font-weight: bolder;
    display: inline-block;
    font-size: 64px;
    text-shadow: 2px 2px 0px var(--secondary-color);
}

.cards-container {
    align-items: stretch;
    margin: auto;
    /* padding: 75px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    max-width: 1000px;

}

.card1 {
    /* background-image: url(/imgs/Variety.png); */
    grid-column: 1 /span 2;
    grid-row: 1 / span 2;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 16px; */
}

.card1 .img-1 {
    /* border-bottom-left-radius: var(--main-radius) ;
    border-top-left-radius: var(--main-radius) ; */
    border-radius: var(--main-radius);
    overflow: hidden;
}

.card2 {
    /* background-image: url(/imgs/taste.jpeg); */
    grid-column: 3;
    grid-row: 1;
}

.card2 .img-2 {
    /* border-top-right-radius: var(--main-radius); */
    border-radius: var(--main-radius);
}

.card3 {
    /* background-image: url(/imgs/quality.jpeg); */
    grid-column: 3;
    grid-row: 2;

}

.card3 .img-3 {
    /* border-bottom-right-radius: var(--main-radius); */
    border-radius: var(--main-radius);
}

/* ============================== Section Divider ==========================  */
.best-selling {
    margin-top: 64px;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

.bs-section-title {
    margin-bottom: auto;
    color: var(--primary-color);
    margin: 0px;
    font-weight: bolder;
    display: inline-block;
    font-size: 64px;
    text-shadow: 2px 2px 0px var(--secondary-color);
}

.bs-cards-container {
    display: flex;
    justify-content: center;
    align-items: top;
}


.bscard:hover {

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.bscard {
    margin: 32px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 16px;
    /* background-color: var(---color); */
    width: 400px;
    height: 600px;
    padding: 12px;
    border-radius: var(--main-radius);
    transition: box-shadow 0.3s ease;
}

.bscard.card1 img {
    position: relative;
    margin-top: -100px;
    width: 420px;
    filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.4));
}

.bscard .card-title {
    font-weight: 900;
    color: var(--primary-color);
    font-family: "Merienda", cursive;
    font-size: 32px;
}

.bscard .card-description {

    color: var(--primary-color);
    font-size: 20px;

    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -60px;

}

.bscard button {
    background-color: var(--main-button-color);
    color: white;
    font-weight: 400;
    font-size: 36px;
    font-family: "Oswald";
    padding: 3px 7px;
    margin-top: auto;
    margin-bottom: 7px;
    width: 210px;
    height: 70px;
    border: none;
    overflow: hidden;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: transform 0.6s ease-out;
}

.bscard button::before {
    content: "";
    height: 0%;
    width: 100%;
    background-color: rgb(117, 1, 41);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: height 0.2s ease-out;
}

.bscard button:hover:before {
    content: "";
    width: 100%;
    height: 100%;
}


.bscard button:hover {
    transform: scale(1.03);
}



/* ============================== Section Divider ==========================  */