:root {
    --primary-color: #443627;
    --text-shadow-color: #251d14;
    --secondary-color: #eabb76;
    --background-color: #F2F6D0;
    --text-color: #EFDCAB;
    --text-hover-color: rgb(250, 235, 104);
    --main-padding: 300px;
    --main-radius: 36px;
    --main-button-color: rgb(232, 50, 50);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Oswald", sans-serif;
    margin: 0px;
    background-color: var(--background-color);
    padding: 0px;
}

.palastine {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: auto;
    opacity: 0.7;
    z-index: 9999;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.palastine:hover {
    transform: scale(1.1);
    opacity: 1;
}

/* 
.nav-container {
    margin: 0px;
}

.navbar {

    height: 103px;
    margin-bottom: 0px;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: space-between;
    display: flex;
    transition: transform 0.3s, box-shadow 0.3s;
}

.navbar:hover {
    transform: scale(1.0);
    
}

.logo {
    display: flex;
    margin-left: 16%;
}

.logo-img {
    width: 115px;
    height: 115px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.logo-img:hover {
    transform: scale(1.05);

}


.nav-links {
    margin-right: 16%;
    font-weight: 200;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li a {
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: var(--background-color);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-links li a:hover {
    color: var(--text-hover-color);
    transform: scale(1.1);
}

.home {
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    z-index: 99;
}

.nav-links .home-sections {
    display: none;
    right: -80px;
    justify-content: center;

    flex-direction: column;
    align-items: center;
    border: #251d14;
    position: absolute;

    background-color: var(--primary-color);
    width: 200px;
    padding: 16px;
}


.home:hover .home-sections {
    display: flex;
}

.home .home-sections a {
    padding: 4px;
} */

/* ============================== Section Divider ==========================  */

.main-section {
    margin: 0px;
}

.main-section .main-blanket {
    position: relative;
    background-image: url('/imgs/Bg.png');
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    margin: 0px;
    width: 100%;
    height: 800px;
    background-color: var(--secondary-color);
    transition: box-shadow 0.3s ease;
}



.main-section .main-blanket p {


    /* Animation properties */
    opacity: 0;
    transform: translateY(20px);
    animation: intro 0.6s ease-out forwards;
    animation-delay: 0.4s;
    filter: blur(5px);


    text-shadow: 2px 2px 0.5px black;
    font-family: "Merienda", cursive;
    color: var(--primary-color);
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;

    text-align: right;
    position: relative;
    top: 0px;
    right: -240px;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}





@keyframes intro {
    to {
        opacity: 1;
        transform: translate(0px);
        filter: blur(0);

    }

}

.main-section .main-blanket video {
    position: relative;

    /* Animation properties */
    opacity: 0;
    transform: translateX(60px);
    animation: intro 0.6s ease-out forwards;
    filter: blur(5px);
    width: 1000px;
    height: 1000px;
    z-index: 1;
}


/* ============================== Section Divider ==========================  */
.why-us {
    margin: 0px;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

.section-title {
    color: var(--primary-color);
    margin: 0px;
    font-weight: bolder;
    display: inline-block;
    font-size: 64px;
    text-shadow: 2px 2px 0px var(--secondary-color);
}

.cards-horizontal-container {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.cards-vertical-container {
    gap: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why-us .card1 {
    position: relative;
    background-image: url('/imgs/Variety.png');
    overflow: hidden;
    width: 700px;
    height: 800px;
    border-radius: var(--main-radius);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.why-us .card2 {
    position: relative;
    background-image: url('/imgs/taste.jpeg');
    overflow: hidden;
    width: 500px;
    height: 390px;
    border-radius: var(--main-radius);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.why-us .card3 {
    position: relative;
    background-image: url('/imgs/quality.jpeg');
    overflow: hidden;
    width: 500px;
    height: 390px;
    border-radius: var(--main-radius);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text {
    font-family: "Oswald", sans-serif;
    color: var(--background-color);
    position: absolute;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
    margin: 0px;
}


.variety-text {
    font-size: 45px;
    font-weight: bold;
    bottom: 115px;
    left: 25px;
}

.choices-word {
    font-size: 100px;
    font-weight: bolder;
    bottom: 0px;
    left: 10px;
}

.taste-text {
    font-size: 45px;
    font-weight: bold;
    top: 10px;
    left: 10px;
}

.bite-word {
    font-size: 70px;
    font-weight: bolder;
    top: 50px;
    left: 10px;
}

.quality-text {
    font-size: 45px;
    font-weight: bold;
    bottom: 80px;
    left: 12px;

}

.affordable {
    font-size: 60px;
    font-weight: bolder;
    bottom: 10px;
    left: 10px;
}

/* ============================== Section Divider ==========================  */
.best-selling {
    margin-top: 64px;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

.bs-description {
    margin-left: 32%;
    margin-right: 32%;
    padding: 12px;
    outline: #251d14;
    border: 2px dashed var(--primary-color);

}

.bs-description .bs-description-text {

    font-size: 23px;
    font-weight: 300;
    font-family: "Oswald", sans-serif;
    color: var(--primary-color);
}

.bs-cards-container {
    display: flex;
    justify-content: center;
    align-items: top;
}


.bscard:hover {

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.bscard {

    opacity: 0;
    transform: translateY(50px);
    margin: 32px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 16px;
    /* background-color: var(---color); */
    width: 400px;
    height: 600px;
    padding: 12px;
    border-radius: var(--main-radius);
    transition: box-shadow 0.3s ease, transform 0.6s ease-out, opacity 0.6s ease-out;
}


@keyframes getAlive {

    to {
        opacity: 1;
        transform: translateY(0);

    }
}

.bscard.show {
    animation: getAlive 0.6s ease-out forwards;
}



.bscard img {
    position: relative;
    width: 420px;
    filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.4));
}

.bscard.card1 img {
    margin-top: -100px;
    width: 420px;
}

.bscard.card2 img {
    margin-top: -100px;
    width: 420px;
}

.bscard.card3 img {
    margin-top: -50px;
    width: 420px;
}

.bscard.card1 {
    animation-delay: 0.2s;
}

.bscard.card2 {
    animation-delay: 0.45s;
}

.bscard.card3 {
    animation-delay: 0.7s;
}




.bscard .card-title {
    font-weight: 900;
    color: var(--primary-color);
    font-family: "Merienda", cursive;
    font-size: 32px;
}

.bscard .card-description {

    color: var(--primary-color);
    font-size: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -60px;

}

.bscard button {
    background-color: var(--main-button-color);
    color: white;
    font-weight: 400;
    font-size: 36px;
    font-family: "Oswald";
    padding: 3px 7px;
    margin-top: auto;
    margin-bottom: 7px;
    width: 210px;
    height: 70px;
    border: none;
    overflow: hidden;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: transform 0.6s ease-out;
}

.bscard button::before {
    content: "";
    height: 0%;
    width: 100%;
    background-color: rgb(117, 1, 41);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: height 0.2s ease-out;
    overflow: hidden;

}

.bscard button:hover:before {
    content: "";
    width: 100%;
    height: 100%;
    overflow: hidden;

}


.bscard button:hover {
    transform: scale(1.03);
}

/* ============================== Section Divider ==========================  */






/* ============================== Section Divider ==========================  */
.light-side {
    margin-top: 64px;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

.ls-description {
    margin-left: 32%;
    margin-right: 32%;
    padding: 12px;
    outline: #251d14;
    border: 2px dashed var(--primary-color);

}

.ls-description .ls-description-text {

    font-size: 23px;
    font-weight: 300;
    font-family: "Oswald", sans-serif;
    color: var(--primary-color);
}

.ls-cards-container {
    display: flex;
    justify-content: center;
    align-items: top;
}


.lscard:hover {

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.lscard {

    opacity: 0;
    transform: translateY(50px);
    margin: 32px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 16px;
    /* background-color: var(---color); */
    width: 400px;
    height: 600px;
    padding: 12px;
    border-radius: var(--main-radius);
    transition: box-shadow 0.3s ease, transform 0.6s ease-out, opacity 0.6s ease-out;
}


@keyframes getAlive {

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.lscard.show {
    animation: getAlive 0.6s ease-out forwards;
}



.lscard img {
    position: relative;
    width: 420px;
    filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.4));
}

.lscard.card1 img {
    margin-top: -100px;
    width: 350px;
}

.lscard.card2 img {
    margin-top: -100px;
    width: 320px;
}

.lscard.card3 img {
    margin-top: -50px;
    width: 340px;
}

.lscard.card3 .card-description {

    margin-top: -30px;


}

.lscard.card1 {
    animation-delay: 0.7s;
}

.lscard.card2 {
    animation-delay: 0.45s;
}

.lscard.card3 {
    animation-delay: 0.2s;
}




.lscard .card-title {
    font-weight: 900;
    color: var(--primary-color);
    font-family: "Merienda", cursive;
    font-size: 32px;
}

.lscard .card-description {
    color: var(--primary-color);
    font-size: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -60px;
}



.lscard button {
    background-color: rgb(0, 159, 72);
    color: white;
    font-weight: 400;
    font-size: 36px;
    font-family: "Oswald";
    padding: 3px 7px;
    margin-top: auto;
    margin-bottom: 7px;
    width: 210px;
    height: 70px;
    border: none;
    overflow: hidden;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: transform 0.6s ease-out;
}

.lscard button::before {
    content: "";
    height: 0%;
    width: 100%;
    background-color: rgb(1, 117, 53);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: height 0.2s ease-out;
    overflow: hidden;

}

.lscard button:hover:before {
    content: "";
    width: 100%;
    height: 100%;
    overflow: hidden;

}


.lscard button:hover {
    transform: scale(1.03);
}

/* ============================== Section Divider ==========================  */
.final-section {
    margin: 48px;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
}


.cec-description {
    margin-left: 32%;
    margin-right: 32%;
    border: 2px dashed var(--primary-color);
}

.catchy-text {
    font-family: "Oswald", sans-serif;
    font-size: 23px;
    font-weight: 300;
    color: var(--primary-color);
}

.cec-cards-container {
    margin: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    /* gap: 25px; */
    gap: 25px;

}

.finalcard {
    position: relative;
    outline: 2px dashed var(--primary-color);
    width: 900px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--main-radius);
    overflow: hidden;
    opacity: 0;
    /* transform: translateY(50px); */
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.finalcard.visible {
    animation-name: appear;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.finalcard:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.order-card {
    background-image: url(/imgs/burger4.jpg);
    animation-delay: 0.5s;
}

.menu-card {
    background-image: url(/imgs/burger5.jpg);
    animation-delay: 0.25s;
}


.final-title {
    position: absolute;
    text-align: left;
    font-weight: bolder;
    font-size: 50px;
    top: 10px;
    left: 10px;
    color: var(--background-color);
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
    line-height: 1.2;
    margin: 0px;
    opacity: 0.9;

}

.final-ls {
    position: absolute;
    text-align: left;
    margin: 0px;
    top: 160px;
    left: -25px;
    color: var(--background-color);
    font-weight: bolder;
    font-size: 24px;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
    list-style: none;
}

.final-ls li {
    margin-bottom: 20px;
    opacity: 0.6;
    cursor: default;
    transition: all 0.3s ease;
}

.final-ls li:hover {
    opacity: 1;
}

.final-ls li::before {
    content: "- ";
}

.final-btt {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Oswald';
    width: 180px;
    height: 55px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    z-index: 1;
    /* color: #443627; */
    transition: all 0.3s ease;
}

.final-btt:hover {
    transform: scale(1.03);
}

.final-btt::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(100, 50, 0, 0.25);
    transition: all 0.5s ease;
    z-index: 0;
}

.final-btt:hover::before {
    left: 0;
}



/* ============================== Section Divider ==========================  */

footer {

    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;

    background-color: var(--primary-color);
}



footer ul.links {

    padding: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
    gap: 50px;
    font-size: 23px;
    font-weight: 500;
    color: var(--text-color);
}

footer ul.links a {
    color: var(--text-color);
    text-decoration: none;
}

footer ul.links a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

footer ul li {
    cursor: pointer;
}


.resName-footer {
    font-weight: 400;
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 0px;
    color: var(--text-color);
    text-align: center;
    font-family: "Oswald", sans-serif;

}

.footer-desc {
    width: 700px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: var(--text-color);
    text-align: center;
    font-family: "Oswald", sans-serif;
}


.privacy_policy_container {
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: "Oswald", sans-serif;

}

.privacy_policy {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    width: 500px;
    height: 700px;
    background-color: wheat;
    border-radius: var(--main-radius);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);

}

.privacy_policy .privacy-box {

    width: 100%;
    height: 80%;
    overflow-y: scroll;

}


.privacy_policy .acceptBtn {
    margin-top: 20px;
    width: 200px;
    background-color: green;
    color: white;
    font-weight: 400;
    font-size: 36px;
    font-family: "Oswald";
    width: 210px;
    height: 70px;

    border: none;
    cursor: pointer;
    transition: transform ease-out 0.3s;

}

.privacy_policy .acceptBtn:hover {

    transform: scale(1.04);

}