*{
background-color: rgb(66, 19, 19);
color:white ;
}

.contact-header{
background: url(contactus.png) ;
background-size: cover;
background-position: center;
background-position-x: right;
display: flex;
background-repeat: repeat-y;
padding: 100px 0;
text-align: inherit;

width: 2000px;
height: 400px;
}





.contact-form {
    justify-content: space-around;

    display: flex;
padding: 20px;
    margin-top:-733px;
    margin-left:755px;
    flex-direction: column;
    
    
}
.contact-form input,
.contact-form textarea
{ 
    
padding: 20px;
border : solid black;
color: white;
margin: 20px 0;
}
.contact-form button{
color: black;
padding: 10px;
cursor: pointer;
border: solid black;
width: 100px;
color: white;
background-color: rgb(235, 200, 46);
}
.address{

    font-size: 50px;
}
.first{
line-height: 0.3;

}
hr{
    opacity: 20%;
    width: 50%;
    margin-left: 0;
}
h4{
    letter-spacing: 6px;
    font-weight: 200;
}
.social-icon{

    margin-right: 40px;
    font-size: 24px;
}