*{

    align-content: center
    
}





:root {
    --primary-color: #443627;
    --text-shadow-color: #251d14;
    --secondary-color: #eabb76;
    --background-color: #F2F6D0;
    --text-color: #EFDCAB;
    --text-hover-color: rgb(250, 235, 104);
    --main-padding: 300px;
    --main-radius: 36px;
    --main-button-color: rgb(232, 50, 50);
}

.nav-container {
    z-index: 1000;
    margin: 0px;
}

.navbar {
    background-color: #443627 ;
    z-index: 99999;
    height: 103px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    transition: transform 0.3s, box-shadow 0.3s;
}

.navbar:hover {
    transform: scale(1.0);
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); */
}

.logo {
    display: flex;
    margin-left: 16%;
}

.logo-img {
    width: 115px;
    height: 115px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.logo-img:hover {
    transform: scale(1.05);

}


.nav-links {
    margin-right: 16%;
    font-weight: 200;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li a {
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: var(--background-color);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-links li a:hover {
    color: var(--text-hover-color);
    transform: scale(1.1);
}

.home {
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    z-index: 99;
}

.nav-links .home-sections {
    display: none;
    right: -80px;
    justify-content: center;

    flex-direction: column;
    align-items: center;
    border: #251d14;
    position: absolute;

    background-color: var(--primary-color);
    width: 200px;
    padding: 16px;
}


.home:hover .home-sections {
    display: flex;
}

.home .home-sections a {
    padding: 4px;
}


body{
    margin: 0;
}

.headerImg{
/*    text-align: center;*/
    width: 85%;
    height: 5%;

    
}
.contaier{
    align-content: center
}
.photo{
width: 230px;
height: auto;
margin-top: 40px;
position: absolute;
margin-left: 40px;


}
.divheader{
    height: 10%
}
.pargraph{
    font-size: 20px;
    font-weight: 300;
    padding: 10pxs;
    font-family: sans-serif
}
.merienda{
    font-family: sans-serif;
    font-size: 40px
}
.rate{
font-weight: 400;
font-size: larger;
}
hr{

opacity:20% ;
color: white;}
.rating{

align-items: center;
display:flex;
justify-content:space-around ;}



h1,h2{
    font-family:cursive; 
font-weight: 700;
}

.place{

width: 450px;
height: 480px;
position: absolute;
top: 35px;
right: 50px;



}
.teamImg{
    height: 50%;
    width: 50%;
    margin-top: 10%;
    padding: 1%;

}
.story{
line-height: 1.4;

overflow-wrap: break-word;

    font-style: normal;
        
        font-family: sans-serif;
        font-weight: 400;
        margin-left: 40px;
    display: flex;
    flex-direction: row
    }
sorty2{
   line-height: 1.4;

overflow-wrap: break-word;

    font-style: normal;
        
        font-family: sans-serif;
        font-weight: 400;
        margin-left: 40px;
    display: flex;
    flex-direction: row
    } 


h3{

font-family: cursive;
font-weight: 700;
font-style: italic;
margin-left: 40px;

}
 

.star{

    color: #FFD700;
    font-size: 20px;
    margin-left: 40px;
}


.counter{
     background-color: rgb(255, 123, 0);
    padding: 10px;
}

.hh p {

    font-family: sans-serif;
    font-weight: 300;
    max-width:600 ;
    margin-left: 40px;
    
}



.ii{

font-family: sans-serif;
font-weight: 600;
display: flex;
justify-content: space-between;
align-items: flex-end;
margin-left: 40px;
}
.tt{

    font-family: sans-serif;
    font-weight: 400;
    margin-left: 40px;
}
.stary {
    font-size: 40px;
    color: #ccc;
    cursor: pointer;
  }
  
  .stary.selected {
    color: gold;
  }
  .review-section{
line-height: 1.8;
    margin: 40px;
}
#reviewInput,
.click

{
border: solid black;

}
.pargraph{
 font-family: sans-serif;
    font-size: 20px
}

.photo4{

width: 500px;
height: 270px;
margin-left: 600px;
position: absolute;
top:870px;

}