body {
  background-color: #dee3ac;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.page-tittle {
  font-family: "dancing script";
  font-size: 80px;
  text-align: center;
  color: #0a0101;
}

.card {
  width: 350px;
  height: 550px;
  background-color: #dee3ac;
  border-radius: 20px;
  box-shadow: 0 5px 12px rgb(0, 0, 0, 1);
  text-align: center;
  padding: 15px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.card .counter {
  position: absolute;
  left: 5px;
  top: 5px;
  color: white;
  padding: 5px 15px;
  opacity: 0;
}

.card:hover .counter {
  gap: 5px;
  align-items: center;
  opacity: 1;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background: #161616;
}

.card img {
  width: 100%;
  height: 270px;
  display: block;
  object-fit: cover;
}
.card h2 {
  font-family: "dancing script";
  font-size: 40px;
  margin: 10px 0 5px;
  color: #010001;
}

.card p {
  font-size: 20px;
  color: #555;
}

.price {
  font-size: 30px;
  display: block;
  margin: 10px 0;
  font-weight: bold;
  color: #222;
}

button {
  background-color: #ecc590;
  padding: 10px 10px;
  border: none;
  border-radius: 18px;
  font-size: 24px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s ease;
  cursor: pointer; 
}
.card:hover button {
  opacity: 4;
  transform: translateY(0);
}
.card:hover h2,
.card:hover p,
.card:hover .price {
  color: #f2f1ed;
}

.card img.cake2 {
  width: 89%;
  height: 280px;
  object-fit: cover;
  margin-left: 30px;
}

.card img.cake3 {
  height: 320px;
 
}
.card img.cake4 {
  height: 300px;
  object-fit: cover;
}

.card img.cake5 {
  width: 90%;
  height: 300px;
  
}

.card img.drink1 {
  width: 90%;
  height: 300px;
 
}
.card img.drink2 {
  width: 40%;
  height: 300px;
 justify-self:center;
}

.card img.drink3 {
  width: 70%;
  height: 300px;
  justify-self: center;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  gap: 70px;
  padding: 60px;
}
