:root {
    --primary-color: #443627;
    --text-shadow-color: #251d14;
    --secondary-color: #eabb76;
    --background-color: #F2F6D0;
    --text-color: #EFDCAB;
    --text-hover-color: rgb(250, 235, 104);
    --main-padding: 300px;
    --main-radius: 36px;
    --main-button-color: rgb(232, 50, 50);
}

.nav-container {
    z-index: 1000;
    margin: 0px;
}

.navbar {
    background-color: var(--primary-color);
    z-index: 99999;
    height: 103px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    transition: transform 0.3s, box-shadow 0.3s;
}

.navbar:hover {
    transform: scale(1.0);
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); */
}

.logo {
    display: flex;
    margin-left: 16%;
}

.logo-img {
    width: 115px;
    height: 115px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.logo-img:hover {
    transform: scale(1.05);

}


.nav-links {
    margin-right: 16%;
    font-weight: 200;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li a {
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: var(--background-color);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-links li a:hover {
    color: var(--text-hover-color);
    transform: scale(1.1);
}

.home {
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    z-index: 99;
}

.nav-links .home-sections {
    display: none;
    right: -80px;
    justify-content: center;

    flex-direction: column;
    align-items: center;
    border: #251d14;
    position: absolute;

    background-color: var(--primary-color);
    width: 200px;
    padding: 16px;
}


.home:hover .home-sections {
    display: flex;
}

.home .home-sections a {
    padding: 4px;
}

.about-us {
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    z-index: 99;
}

.nav-links .about-us-sections {
    position: absolute;
    display: none;
    right: -60px;
    justify-content: center;

    flex-direction: column;
    align-items: center;
    border: #251d14;

    background-color: var(--primary-color);
    width: 200px;
    padding: 16px;
}



.about-us:hover .about-us-sections {
    display: flex;
}

.about-us .about-us-sections a {
    padding: 4px;
}

/* ***************************** LOG IN HANDLING ***************************** */

.horizontal-container {
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    gap: 0px;
}

.horizontal-container>* {
    margin-top: -180px;
}

.login-handler {
    display: none;

    /* toggles the login windows 
    none -> hidden
    flex -> shown
    */

    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: "Oswald", sans-serif;
    z-index: 999999;
}

.login-handler .login-container {
    align-items: top;
    justify-content: top;
    font-size: 36px;
    font-family: "Questrial";
    background-color: var(--background-color);
    width: 70%;
    height: 60%;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}


.login-handler .login-container p.welcome {
    width: 400px;
    height: 70px;
    display: block;

    font-weight: 100;
    font-size: 32px;
    margin: 0px;
    position: relative;
    top: 50px;
    left: 66px;
}

.login-handler .login-container p.sign-in {
    width: 200px;
    height: 70px;
    display: block;
    font-weight: 50;
    font-size: 25px;
    position: relative;
    top: 50px;
    left: 76px;
}


.inputField {

    position: relative;
    top: 5px;
    margin: 40px;
    margin-left: 70px;
}

.ag {
    width: 600px;
    height: 70px;
    display: block;
    font-weight: 50;
    font-size: 14px;
    margin: 0px;
    position: relative;
    left: 76px;
}

.SubmitBtn {

    position: relative;
    top: -5px;
    margin: 10px;
    margin-left: 0px;
    left: 70px;
    width: 130px;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 20px;
    border: 1px none black;
    border-radius: var(--main-radius);
    transition: transform ease-out 0.3s;
    cursor: pointer;

}

.SubmitBtn.signUp {
    top: 25px
}

.SubmitBtn:hover {

    transform: scale(1.04);
    background-color: var(--primary-color);
    /* background-color:; */
}

.inputField label {
    /* display: inline-block; */
    position: absolute;
    background-color: var(--background-color);
    background-size: 50px;
    padding: 0 5px;
    line-height: 1;
    font-size: 15px;
    left: 20px;
    top: -7px;
}

.inputField input {
    width: 500px;
    height: 50px;
    border: 1px, solid, black;
    border-radius: 4px;
    background-color: var(--background-color);
    font-size: 20px;
    padding-left: 14px;
    padding-right: 14px;

}

.vertical-line {
    position: relative;
    width: 1px;
    height: 40%;
    background-color: #000;
    top: -20px;
}



.hContainer {
    width: 500px;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    position: relative;
    align-items: center;
    display: flex;
    margin-left: 70px;
}

.inputField.FirstName {
    margin: 0px;

}

.inputField.LastName {
    margin: 0px;

}

.inputField.FirstName input {
    width: 220px;
    height: 50px;
    border: 1px, solid, black;
    border-radius: 4px;
    background-color: var(--background-color);
    font-size: 20px;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0px;

}

.inputField.LastName input {
    width: 220px;
    height: 50px;
    border: 1px, solid, black;
    border-radius: 4px;
    margin: 0px;
    background-color: var(--background-color);
    font-size: 20px;
    padding-left: 14px;
    padding-right: 14px;

}

.inputField.Password.signUp input {
    width: 220px;
    height: 50px;
    border: 1px, solid, black;
    border-radius: 4px;
    margin: 0px;
    background-color: var(--background-color);
    font-size: 20px;
    padding-left: 14px;
    padding-right: 14px;

}

.inputField.PasswordConfirm.signUp input {
    width: 220px;
    height: 50px;
    border: 1px, solid, black;
    border-radius: 4px;
    margin: 0px;
    background-color: var(--background-color);
    font-size: 20px;
    padding-left: 14px;
    padding-right: 14px;

}

.inputField.Password.signUp {
    margin: 0px;

}

.inputField.PasswordConfirm {
    margin: 0px;

}